body
{
	font-family: Verdana, Arial, Sans-serif;
	font-size: 12px;
	background: #F5F5F5;
	margin: 0;
}

.center
{
	width: 100%;
}

.placeholder
{
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;

	text-align: justify;
}

.placeholder hr
{
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

.placeholder h1
{
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}